html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 20px;
	background:#131419;
	color:white;

}	

@keyframes animate{
	0%{
		top:100%;
		opacity:0;
	}
	100%{
		top:0%;
		opacity:1;
	}
		0%{
		top:100%;
		opacity:0;
	}
}
#password{
	border:none;
	outline: none;
	border-width:1px;
	width:20%;
	height:20px;
	background:#131419;
	color:white;
	align-content: center;
	transform: scale(1.3);
	color:#03a9f4;
	box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05) ,
				inset 2px 2px 6px rgba(0,0,0,0.8);

}
#generate{
	height:40px;
	width:150px;
	border:none;
	border-radius:5px;
	outline: none;
	position:relative;
	margin-top:1%;
		display: block;
	left:6%;
	box-shadow:  -2px -2px 6px rgba(255,255,255,0.05) ,
				 2px 2px 6px rgba(0,0,0,0.8);
		background:#131419;
		color:#03a9f4;
}
#generate:active{
	box-shadow:  -2px -2px 6px rgba(255,255,255,0.05) ,
				 2px 2px 6px rgba(10,10,10,0.8);
}
.circle{
	height:20px;
	width:20px;
	border-radius:50%;
	background-color: transparent;
	position:relative;
	color:green;
	top:-1000%;
	left:60%;

	animation-name: animate;
	animation-duration: 10s;
	animation-direction: unset;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}
.circle:nth-child(1){
	left:60%;
	animation-delay: 3s;
}
.circle:nth-child(2){
	left:40%;
	animation-delay: 0s;
}
.circle:nth-child(3){
	left:20%;
	animation-delay: 1.5s;
}
.circle:nth-child(4){
	left:10%;
	animation-delay: 3.5s;
}
.circle:nth-child(5){
	left:80%;
	animation-delay: 2.5s;
}
.circle:nth-child(6){
	left:70%;
	animation-delay: 1s;
}
.circle:nth-child(7){
	left:90%;
	animation-delay: 3s;
}
.circle:nth-child(8){
	left:30%;
	animation-delay: 2s;
}
.circle:nth-child(9){
	left:50%;
	animation-delay: 4s;
}
.circle:nth-child(10){
	left:55%;
	animation-delay: 5s;
}
.circle:nth-child(11){
	left:65%;
	animation-delay: 4.25s;
}
.circle:nth-child(12){
	left:75%;
	animation-delay: 2.6s;
}
.circle:nth-child(13){
	left:22%;
	animation-delay: 6s;
}

#first-div{

	position:relative;
	background-position: center;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	text-align: center;
	align-content: center;
	font-size: 110%;
	font-family: DejaVu Sans Mono, monospace;
	color:#ff3f02;
	margin-top: 0px;
	transform:translateY(-5%);
	overflow:hidden;
	background:#131419;
	transform-style: preserve-3d;
}
#second-div{
	position: relative;
	top:0%;
	left:0;
	width:100%;
	height:100vh;
	background:#131419;
	letter-spacing: 3px;
	color:#c7c7c7;
	font-size:100%;
	margin-top:14%;
}
h1{
	position:flex;
	top:40%;
	letter-spacing: 5px;
	
}
#length{
	position:relative;
	text-align: center;
	top:10%;

}
#preference{
	position:relative;
	
	top:15%;
	transform:translateX(30%);
}
#textfield{
	position:relative;
	transform: translate(20%,0);
	top:25%;
	left:14%;
}
#password-length {
	background:transparent;
	color:red;
	box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05) ,
				inset 2px 2px 6px rgba(0,0,0,0.8);
	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@keyframes animate{
	0%{
		top:100%;
		opacity:0.3;
		
	}
	100%{
		top:-90%;
		opacity:1;
		
	}
}
#symbol,#lalpha,#ualpha,#number{
	position:relative;
	-webkit-appearance:none;
	outline:none;
	top:0px;
	background:#131419;
	width:20px;
	height:20px;
	box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05) ,
		inset 2px 2px 6px rgba(0,0,0,0.8);

}
#password-length{
	box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05) ,
		inset 2px 2px 6px rgba(0,0,0,0.8);
		border:.5px solid #262626;
	background:#131419;
	outline:none;
	color:#03a9f4;
	border-radius: 10px;
	padding:5px;
}

.fas{
	transform:scale(1.5); 

	width:100px;
	color:white;
	margin-top: 0;
	animation-name: swipe;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
@keyframes swipe{

	33%{
		transform:translateY(10px);
	}
	66%{
		transform:translateY(3px);
	}
	100%{
		transform:translateY(1px);
	}


}
.far {
	opacity: 0.3;
	cursor: pointer;
}
.far:hover{
	opacity:1;
}
#symbol:before,#number:before,#lalpha:before,#ualpha:before{
	content:'';
	position:absolute;
	top:0;
	left:0px;
	width:100%;
	height:100%;
	border:1px solid #266366;
	transition:.5s;
	border-radius:100%;
}


#symbol:checked:before,#number:checked:before,#lalpha:checked:before,#ualpha:checked:before{
	border-left:none;
	border-top:none;
	width:10px;
	border-color:#0f0;
	transform:rotate(45deg)translate(3px,-5px);
}
footer{
	color:red;
	width:100%;
	left:0;
	position:relative;
	top:40%;
	font-size:80%;
	animation-name:note;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}
@keyframes note{
	0%{
		left:-30%;
	}
	100%{
		left:100vw;
	}
}




@media only screen and (max-width: 760px){
	#first-div{
		font-size:20px;
	}
	#textfield{
		left:-10%;

	}
	#preference{
		transform:translateX(3%);
	}
	#generate{
		transform:scale(0.8);
	}
}
@media only screen and (max-width: 670px){
	#first-div{
	font-size:80%;
	
	}
}
	@media only screen and (max-width: 580px){
	#first-div{
	font-size:70%;
	word-spacing: 400px;
	line-height:50px;
	
	}
	.fas{
		position:absolute;
		top: 90%;
		left:40%;
	}
	#password{
		width:120px;

	}
	h1{
		margin-top:-70px;
	}
	#second-div{
		font-size:65%;
	}
}
	@media only screen and (max-width: 420px){
		footer{
			top:28%;

		}
